annotated-types==0.7.0
anthropic==0.25.9
cohere==5.9.1
distro==1.8.0
fastavro==1.9.4
google-ai-generativelanguage==0.6.4
google-auth-httplib2==0.2.0
google-generativeai==0.5.4
httpx-sse==0.4.0
jiter==0.5.0
parameterized==0.9.0
pydantic_core==2.3.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
jmespath==1.0.1
types-requests==2.31.0.6
uritemplate==4.1.1
protobuf==4.24.4
proto-plus==1.23.0
cachetools==5.3.2
googleapis-common-protos==1.62.0
httplib2==0.22.0
pyparsing==3.1.1
tokenizers==0.19.1